<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Settings</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">
		<link rel="stylesheet" href="../css/settings.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body id="settingsHtml">
    <!-- bagian header -->
    <header class="shadow-sm rounded">
			<nav class="navbar navbar-dark bg-ijo">
				<a class="navbar-brand" href="#">Family Tree</a>
				<div>
					<ul class="navbar-nav">
					</ul>
					<div class="dropdown">
						<div class="dropdown-toggle" id="profileHeader" data-toggle="dropdown" aria-expanded="false"></div>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="./tree.html">Home</a>
							<a class="dropdown-item" href="#">Settings</a>
							<a class="dropdown-item" href="#">Logout</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<!-- isi -->
		<section>
			<div class="container">
				<div id="headerSettings">
					<h4>Settings</h4>
					<button id="saveAccount" type="button" class="btn btn-ijo rounded saveSettings">Save</button>
					<button id="addPeople" type="button" class="btn btn-ijo rounded saveSettings" data-toggle="modal" data-target="#modalPeople">Add Person</button>
				</div>
				<div id="tabNav">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a id="accountTab" class="nav-link text-success active" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="true">Account</a>
						</li>
						<li class="nav-item">
							<a id="peopleTab" class="nav-link text-success" data-toggle="tab" href="#people" role="tab" aria-controls="people" aria-selected="false">Manage People</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
							<div class="row">
								<div class="col-lg-4">
									<div class="card rounded shadow cardOverviewProfil">
										<div class="card-body">
											<div id="imgChangeAvatar"></div>
											<i id="uploadAvatar" class="fas fa-pen btn-ijo text-light shadow-sm"></i>
											<form>
												<div class="form-group">
													<label for="formGroupExampleInput">First Name</label>
													<input type="text" class="form-control" placeholder="First Name">
												</div>
												<div class="form-group">
													<label for="formGroupExampleInput2">Last Name</label>
													<input type="text" class="form-control" placeholder="Last Name">
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="card rounded shadow-sm cardOthers">
										<div class="card-body row">
											<div class="form-group col-md-6">
												<label>Email</label>
												<input type="email" class="form-control" placeholder="Email">
											</div>
											<div class="form-group col-md-6">
												<label>Password</label>
												<input type="password" class="form-control" placeholder="Password">
											</div>
										</div>
									</div>
									<div class="card rounded shadow-sm cardOthers">
										<div class="card-body row">
											<div class="col-md-6">
												<div class="form-group" style="margin-bottom:5px;">
													<label>Phone Number</label>
													<input type="text" class="form-control" placeholder="Phone Number">
												</div>			
												<div class="form-group">
													<label>Home Number</label>
													<input type="text" class="form-control" placeholder="Home Number">
												</div>			
											</div>
											<div class="form-group col-md-6">
												<label>Address</label>
												<textarea type="text" class="form-control" style="height:105px;" placeholder="Address"></textarea>
											</div>
										</div>
									</div>
									<div class="card rounded shadow-sm cardOthers">
										<div class="card-body row">
											<div class="form-group col-md-6">
												<label>Date of Birth</label>
												<input type="date" class="form-control" placeholder="Date of Birth">
											</div>
											<div class="form-group col-md-6">
												<label>Gender</label>
												<select class="custom-select">
													<option value="f">Female</option>
													<option value="m">Male</option>
												</select>
											</div>
										</div>
									</div>
								</div>		
							</div>
						</div>
						<div class="tab-pane fade" id="people" role="tabpanel" aria-labelledby="people-tab">
							<div class="row">
								<div class="col-6 col-md-3 col-lg-2 cardPerson" data-toggle="modal" data-target="#modalPeople">
									<div class="card text-center rounded shadow">
										<img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" class="card-img-top" alt="...">
										<div class="card-body">
											Stefano Lilipaly
										</div>
									</div>
								</div>
								<div class="col-6 col-md-3 col-lg-2 cardPerson" data-toggle="modal" data-target="#modalPeople">
									<div class="card text-center rounded shadow">
										<img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" class="card-img-top" alt="...">
										<div class="card-body">
											Stefano Lilipaly
										</div>
									</div>
								</div>
								<div class="col-6 col-md-3 col-lg-2 cardPerson" data-toggle="modal" data-target="#modalPeople">
									<div class="card text-center rounded shadow">
										<img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" class="card-img-top" alt="...">
										<div class="card-body">
											Stefano Lilipaly
										</div>
									</div>
								</div>
								<div class="col-6 col-md-3 col-lg-2 cardPerson" data-toggle="modal" data-target="#modalPeople">
									<div class="card text-center rounded shadow">
										<img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" class="card-img-top" alt="...">
										<div class="card-body">
											Stefano Lilipaly
										</div>
									</div>
								</div>
								<div class="col-6 col-md-3 col-lg-2 cardPerson" data-toggle="modal" data-target="#modalPeople">
									<div class="card text-center rounded shadow">
										<img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" class="card-img-top" alt="...">
										<div class="card-body">
											Stefano Lilipaly
										</div>
									</div>
								</div>
								<div class="col-6 col-md-3 col-lg-2 cardPerson" data-toggle="modal" data-target="#modalPeople">
									<div class="card text-center rounded shadow">
										<img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" class="card-img-top" alt="...">
										<div class="card-body">
											Stefano Lilipaly
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- modal -->
		<div class="modal fade" id="modalPeople" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content rounded">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="padding-top:0;">
						<div class="alert alert-danger" role="alert" id="alertSettingsModal"></div>
						<div class="row">
							<div class="col-lg-4">
								<div class="card rounded shadow-sm cardOverviewProfil">
									<div class="card-body">
										<div id="changeImgPeople"></div>
										<i id="uploadPeoplePhoto" class="fas fa-pen btn-ijo text-light shadow-sm"></i>
										<form>
											<div class="form-group">
												<label for="formGroupExampleInput">First Name</label>
												<input id="editPersonFirstName" type="text" class="form-control" placeholder="First Name">
											</div>
											<div class="form-group">
												<label for="formGroupExampleInput2">Last Name</label>
												<input id="editPersonLastName" type="text" class="form-control" placeholder="Last Name">
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="card rounded shadow-sm cardOthers">
									<div class="card-body row">
										<div class="col-md-6">
											<div class="form-group" style="margin-bottom:5px;">
												<label>Phone Number</label>
												<input id="editPersonPhoneNumber" type="text" class="form-control" placeholder="Phone Number">
											</div>			
											<div class="form-group">
												<label>Home Number</label>
												<input id="editPersonHomeNumber" type="text" class="form-control" placeholder="Home Number">
											</div>			
										</div>
										<div class="form-group col-md-6">
											<label>Address</label>
											<textarea id="editPersonAddress" type="text" class="form-control" style="height:105px;" placeholder="Address"></textarea>
										</div>
									</div>
								</div>
								<div class="card rounded shadow-sm cardOthers">
									<div class="card-body row">
										<div class="form-group col-md-6">
											<label>Date of Birth</label>
											<input id="editPersonDateOfBirth" type="date" class="form-control" placeholder="Date of Birth">
										</div>
										<div class="form-group col-md-6">
											<label>Gender</label>
											<select id="editPersonGender" class="custom-select">
												<option value="female">Female</option>
												<option value="male">Male</option>
											</select>
										</div>
									</div>
								</div>
							</div>		
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger rounded" id="deletePerson">Delete</button>
						<button type="button" class="btn btn-ijo rounded" id="saveEditPerson">Save</button>
					</div>
				</div>
			</div>
		</div>
		<!-- fixed things -->
		<i id="saveAccountSmall" class="fas fa-save btn-ijo text-light shadow btnSmall"></i>
		<i id="addPeopleSmall" class="fas fa-plus btn-ijo text-light shadow btnSmall" data-toggle="modal" data-target="#modalPeople"></i>
		<!-- hidden things -->
		<div class="hiddenfile">
			<input name="upload" type="file" accept="image/*" id="accountPhotoInput"/>
			<input name="upload" type="file" accept="image/*" id="peoplePhotoInput"/>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
			crossorigin="anonymous"></script>
	<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
			crossorigin="anonymous"></script>
			<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/settings.js"></script>
</html> 