<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Family Tree</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="../css/tree.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="../js/go-debug.js"></script>

</head>

<body id="treeHtml" onload="init()">
	<!-- bagian header -->
	<header class="shadow-sm rounded" style="z-index: 1;">
		<nav class="navbar navbar-expand-sm navbar-dark bg-ijo text-light rounded">
			<a id="btnCreateTree" title="Create New Family Tree" data-toggle="modal" data-target="#modalAddTree"><i class="fas fa-plus"></i></a>
			<select title="Select Family Tree" class="brand" id="selectTree">
			</select>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-search"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				</ul>
				<form class="form-inline">
					<input class="form-control mr-sm-2 rounded" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light rounded" id="searchButton" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<div class="gender-button">
				<button id="male" class="btn btn-primary" style="margin: 2px; width: 100px">Add Male</button>
				<button id="female" class="btn btn-danger" style="margin: 2px; width: 100px">Add Female</button>
			</div>
	</header>

	<!-- bagian profile -->
	<div class="rounded" id="collapseTriggerProfileBack"></div>

	<!-- modals-->
	<div class="modal" tabindex="-1" role="dialog" id="myModal">
		<div class="modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="Name-Title">Detail Profile</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" id="span-modals">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="myInspector" class="inspector row" style="align-items:center">
						<div class="col-4" id="imgProfileContainer">
							<div class="mx-auto align-middle" id="imgProfile"></div>
						</div>
						<div class="col-8" id="detailProfile">
							<div style="justify-content:space-between;align-items:center">
								<h4 id="nameProfile">Jon Snow</h4>
								<i class="fas fa-male" style="color:#22A8DB"></i>
								<i class="fas fa-female" style="color:#FC0F3A"></i>
							</div>
							<div>
								<i class="fas fa-map-marker-alt"></i>
								<p id="addressProfile"></p>
							</div>
							<div style="margin-top:2px;">
								<i class="fas fa-mobile-alt"></i>
								<p id="phoneNumberProfile"></p>
								<i class="fas fa-phone" style="margin-left:5px;"></i>
								<p id="homeNumberProfile"></p>
							</div>
							<div style="margin-top:2px;">
								<i class="fas fa-envelope"></i>
								<p id="emailProfile"></p>
							</div>
							<div style="margin-top:2px;">
								<i class="fas fa-birthday-cake"></i>
								<p id="dateOfBirthProfile"></p>
							</div>
						</div>
						<table id="tableEditProfile">
							<tbody>
								<tr>
									<td>Key</td>
									<td><input type="undefined" tabindex="0" disabled="" id="tablekey"></td>
								</tr>
								<tr>
									<td>Name</td>
									<td><input type="undefined" tabindex="1" id="tablename"></td>
								</tr>
								<tr>
									<td>Gender</td>
									<td><input tabindex="2" id="tablegender"></td>
								</tr>
								<tr>
									<td>Mother</td>
									<td><input tabindex="3" id="tablemother"></td>
								</tr>
								<tr>
									<td>Father</td>
									<td><input tabindex="4" id="tablefather"></td>
								</tr>
								<tr>
									<td>Husband</td>
									<td><input tabindex="5" id="tablehusband"></td>
								</tr>
								<tr>
									<td>Wife</td>
									<td><input tabindex="6" id="tablewife"></td>
								</tr>
								<tr>
									<td>Email</td>
									<td><input tabindex="6" id="tableemail"></td>
								</tr>
								<tr>
									<td>Phone</td>
									<td><input tabindex="6" id="tablephone"></td>
								</tr>
								<tr>
									<td>Place of Birth</td>
									<td><input tabindex="6" id="tablepob"></td>
								</tr>
								<tr>
									<td>Date of Birth</td>
									<td><input tabindex="6" id="tabledob"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="edit-button">Make changes</button>
					<button type="button" class="btn btn-primary closebtn" id="save-button">Save changes</button>
					<button type="button" class="btn btn-danger closebtn" id="delete-button">Delete</button>
					<button type="button" class="btn btn-secondary" id="back-button">Back</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end modals-->

	<a class="rounded shadow-sm" id="collapseTriggerProfile"></a>
	<div class="rounded shadow-sm bg-ijo text-light hide" id="collapseProfile">
		<div class="h5Container">
			<h5 title="Name">Name</h5>
		</div>
		<div class="splitter"></div>
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" data-toggle="pill" role="tab" aria-selected="true">Home</a>
			<a class="nav-link" href="settings.html" role="tab" aria-selected="false">Settings</a>
			<a class="nav-link" href="index.html" role="tab" aria-selected="false">Logout</a>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="modalAddTree">
		<div class="modal-dialog-centered" role="document">
			<div class="modal-content rounded">
				<div class="modal-header">
					<h5 class="modal-title" id="Name-Title">Create New Family Tree</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" id="span-modals">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="formTreeName" type="text" class="form-control rounded" placeholder="Family Tree Name">
				</div>
				<div class="modal-footer" style="padding:10px 15px;">
					<button type="button" class="btn btn-primary rounded" id="submitCreateTree">Create Tree</button>
				</div>
			</div>
		</div>
	</div>

	<!-- bagian family tree -->
	<section id="dashboardTree">
		<div id="myDiagramDiv" style="border:1px solid; width:100%; height:100%; z-index: 0;"></div>
	</section>

	<!-- alert -->
	<div class="alert alert-primary" role="alert" id="alertTree"></div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
 crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/tree.js"></script>

</html>